In [11]:
import pandas as pd

data = {
    "Name": ["Sohail","Sameer","Rocky","Khalid","Umar"],
    "Age": [24,26,None,23,None],
    "Salary": [45000,None,23000,None,125000]
}

df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

#print(df.isnull().sum())

#df_drop = df.dropna()
#print(df_drop)

# df['Age'].fillna(df['Age'].mean(), inplace=True)
# df['Salary'].fillna(df['Salary'].mean(), inplace=True)

# print(df)

print(df.isnull().mean() * 100)

Original DataFrame
     Name   Age    Salary
0  Sohail  24.0   45000.0
1  Sameer  26.0       NaN
2   Rocky   NaN   23000.0
3  Khalid  23.0       NaN
4    Umar   NaN  125000.0
Name       0.0
Age       40.0
Salary    40.0
dtype: float64